<%- include("./partials/header") -%>
<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg overlay2">
    <h3>Our Courses</h3>
</div>
<!-- bradcam_area_end -->

<!-- popular_courses_start -->
<div class="popular_courses">
    <div class="container">
        <div class="row" id="course">
            <div class="col-xl-12">
                <div class="section_title text-center mb-100">
                    <h3>Find Out Yours One</h3>
                    <h5>From here you can easily get enrolled in any language course from the below categories.</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="course_nav">
                    <nav>
                        <ul class="nav" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#english" role="tab"
                                    aria-controls="profile" aria-selected="false">English </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#chinese" role="tab"
                                    aria-controls="contact" aria-selected="false"> Chinese </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="design-tab" data-toggle="tab" href="#french" role="tab"
                                    aria-controls="design" aria-selected="false">French </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="Web-tab" data-toggle="tab" href="#spanish" role="tab"
                                    aria-controls="design" aria-selected="false">Spanish </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="Web-tab1" data-toggle="tab" href="#swahili" role="tab"
                                    aria-controls="design" aria-selected="false">Swahili </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </div>
    <div class="all_courses">
        <div class="container">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single_courses">
                                <div class="thumb">
                                    <a href="#">
                                        <img src="img/courses/englishEle.jpg" height="200vh" alt="">
                                    </a>
                                </div>
                                <div class="courses_info">
                                    <span>English Elementary Speakig Course</span>
                                    <h3><a href="#">Learn Elmentary English Step By Step</a></h3>
                                    <div class="star_prise d-flex justify-content-between">
                                        <div class="star">
                                            <i class="flaticon-mark-as-favorite-star"></i>
                                            <span>(4.5)</span>
                                        </div>
                                        <form>
                                            <input type="hidden" name="id" value="1" readonly>
                                            <div class="prise">
                                                <span class="active_prise">
                                                    90 ¥
                                                </span>
                                                <button type="submit" formaction="/buy" formmethod="POST"
                                                    class="btn btn-sm btn-info"><i
                                                        class="fas fa-shopping-cart"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single_courses">
                                <div class="thumb">
                                    <a href="#">
                                        <img src="img/courses/chineseEle.jpg" height="200vh" alt="">
                                    </a>
                                </div>
                                <div class="courses_info">
                                    <span>Chinese Elementary Speaking Course</span>
                                    <h3><a href="#">Learn how to interect with a Chinese people</a></h3>
                                    <div class="star_prise d-flex justify-content-between">
                                        <div class="star">
                                            <i class="flaticon-mark-as-favorite-star"></i>
                                            <span>(4.5)</span>
                                        </div>
                                        <form>
                                            <input type="hidden" name="id" value="7" readonly>
                                            <div class="prise">
                                                <span class="active_prise">
                                                    79 ¥
                                                </span>
                                                <button type="submit" formaction="/buy" formmethod="POST"
                                                    class="btn btn-sm btn-info"><i
                                                        class="fas fa-shopping-cart"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single_courses">
                                <div class="thumb">
                                    <a href="#">
                                        <img src="img/courses/frenchEle.jpg" height="200vh" alt="">
                                    </a>
                                </div>
                                <div class="courses_info">
                                    <span>Elementary French Speaking Course</span>
                                    <h3><a href="#"> Make French poeple amazed by talking like him </a></h3>
                                    <div class="star_prise d-flex justify-content-between">
                                        <div class="star">
                                            <i class="flaticon-mark-as-favorite-star"></i>
                                            <span>(4.5)</span>
                                        </div>
                                        <form>
                                            <input type="hidden" name="id" value="13" readonly>
                                            <div class="prise">
                                                <span class="active_prise">
                                                    85 ¥
                                                </span>
                                                <button type="submit" formaction="/buy" formmethod="POST"
                                                    class="btn btn-sm btn-info"><i
                                                        class="fas fa-shopping-cart"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single_courses">
                                <div class="thumb">
                                    <a href="#">
                                        <img src="img/courses/spanishEle.jpg" height="200vh" alt="">
                                    </a>
                                </div>
                                <div class="courses_info">
                                    <span>Spanish Elementary Language Course</span>
                                    <h3><a href="#"> Learn Spanish language from scratch and speak fluently. </a></h3>
                                    <div class="star_prise d-flex justify-content-between">
                                        <div class="star">
                                            <i class="flaticon-mark-as-favorite-star"></i>
                                            <span>(4.5)</span>
                                        </div>
                                        <form>
                                            <input type="hidden" name="id" value="19" readonly>
                                            <div class="prise">
                                                <span class="active_prise">
                                                    97 ¥
                                                </span>
                                                <button type="submit" formaction="/buy" formmethod="POST"
                                                    class="btn btn-sm btn-info"><i
                                                        class="fas fa-shopping-cart"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single_courses">
                                <div class="thumb">
                                    <img src="img/courses/swahiliEle.jpg" height="200vh" alt="">
                                </div>
                                <div class="courses_info">
                                    <span>Swahili Elementary Speaking Course</span>
                                    <h3><a href="#">Learn and speak Swahili language from scratch.</a></h3>
                                    <div class="star_prise d-flex justify-content-between">
                                        <div class="star">
                                            <i class="flaticon-mark-as-favorite-star"></i>
                                            <span>(4.5)</span>
                                        </div>
                                        <form>
                                            <input type="hidden" name="id" value="25" readonly>
                                            <div class="prise">
                                                <span class="active_prise">
                                                    88 ¥
                                                </span>
                                                <button type="submit" formaction="/buy" formmethod="POST"
                                                    class="btn btn-sm btn-info"><i
                                                        class="fas fa-shopping-cart"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single_courses">
                                <div class="thumb">
                                    <a href="#">
                                        <img src="img/courses/swahiliEleWriting.png" height="200vh" alt="">
                                    </a>
                                </div>
                                <div class="courses_info">
                                    <span>Swahili Elementary writing course</span>
                                    <h3><a href="#">Learn for the writing & reading swahili language</a></h3>
                                    <div class="star_prise d-flex justify-content-between">
                                        <div class="star">
                                            <i class="flaticon-mark-as-favorite-star"></i>
                                            <span>(4.5)</span>
                                        </div>
                                        <form>
                                            <input type="hidden" name="id" value="27" readonly>
                                            <div class="prise">
                                                <span class="active_prise">
                                                    67 ¥
                                                </span>
                                                <button type="submit" formaction="/buy" formmethod="POST"
                                                    class="btn btn-sm btn-info"><i
                                                        class="fas fa-shopping-cart"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- english language  -->
                <div class="tab-pane fade" id="english" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6  col-md-6">
                            <div class="single_courses">
                                <div class="thumb">
                                    <a href="#">
                                        <img src="img/courses/englishEle.jpg" height="200vh" alt="">
                                    </a>
                                </div>
                                <div class="courses_info">
                                    <span>English Elementary Speaking Course</span>
                                    <h3><a href="#"> Learn English Speaking from scratch
                                        </a></h3>
                                    <div class="star_prise d-flex justify-content-between">
                                        <div class="star">
                                            <i class="flaticon-mark-as-favorite-star"></i>
                                            <span>(4.5)</span>
                                        </div>
                                        <form>
                                            <input type="hidden" name="id" value="1" readonly>
                                            <div class="prise">
                                                <span class="active_prise">
                                                    90 ¥
                                                </span>
                                                <button type="submit" formaction="/buy" formmethod="POST"
                                                    class="btn btn-sm btn-info"><i
                                                        class="fas fa-shopping-cart"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single_courses">
                                <div class="thumb">
                                    <a href="#">
                                        <img src="img/courses/englishEleReading.jpg" height="200vh" alt="">
                                    </a>
                                </div>
                                <div class="courses_info">
                                    <span>English Elmentary Reading Course</span>
                                    <h3><a href="#">Learn English reading from beginner</h3>
                                    <div class="star_prise d-flex justify-content-between">
                                        <div class="star">
                                            <i class="flaticon-mark-as-favorite-star"></i>
                                            <span>(4.5)</span>
                                        </div>
                                        <form>
                                            <input type="hidden" name="id" value="2" readonly>
                                            <div class="prise">
                                                <span class="active_prise">
                                                    55 ¥
                                                </span>
                                                <button type="submit" formaction="/buy" formmethod="POST"
                                                    class="btn btn-sm btn-info"><i
                                                        class="fas fa-shopping-cart"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single_courses">
                                <div class="thumb">
                                    <a href="#">
                                        <img src="img/courses/englishEleWriting.jpg" height="200vh" alt="">
                                    </a>
                                </div>
                                <div class="courses_info">
                                    <span>English Elementery writing course</span>
                                    <h3><a href="#"> Learn English writing <br>
                                            from scratch</a></h3>
                                    <div class="star_prise d-flex justify-content-between">
                                        <div class="star">
                                            <i class="flaticon-mark-as-favorite-star"></i>
                                            <span>(4.5)</span>
                                        </div>
                                        <form>
                                            <input type="hidden" name="id" value="3" readonly>
                                            <div class="prise">
                                                <span class="active_prise">
                                                    69 ¥
                                                </span>
                                                <button type="submit" formaction="/buy" formmethod="POST"
                                                    class="btn btn-sm btn-info"><i
                                                        class="fas fa-shopping-cart"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single_courses">
                                <div class="thumb">
                                    <a href="#">
                                        <img src="img/courses/englishComSpeaking.jpg" height="200vh" alt="">
                                    </a>
                                </div>
                                <div class="courses_info">
                                    <span>English Comprehensive Speaking course</span>
                                    <h3><a href="#"> Learn to speak English comprehensively <br>
                                            from beginner</a></h3>
                                    <div class="star_prise d-flex justify-content-between">
                                        <div class="star">
                                            <i class="flaticon-mark-as-favorite-star"></i>
                                            <span>(4.5)</span>
                                        </div>
                                        <form>
                                            <input type="hidden" name="id" value="4" readonly>
                                            <div class="prise">
                                                <span class="active_prise">
                                                    81 ¥
                                                </span>
                                                <button type="submit" formaction="/buy" formmethod="POST"
                                                    class="btn btn-sm btn-info"><i
                                                        class="fas fa-shopping-cart"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single_courses">
                                <div class="thumb">
                                    <img src="img/courses/englishComReading.jpg" height="200vh" alt="">
                                </div>
                                <div class="courses_info">
                                    <span>English Comprehensive Reading course</span>
                                    <h3><a href="#">Learn English reading comprehensively <br>
                                            and make work flow</a></h3>
                                    <div class="star_prise d-flex justify-content-between">
                                        <div class="star">
                                            <i class="flaticon-mark-as-favorite-star"></i>
                                            <span>(4.5)</span>
                                        </div>
                                        <form>
                                            <input type="hidden" name="id" value="5" readonly>
                                            <div class="prise">
                                                <span class="active_prise">
                                                    87 ¥
                                                </span>
                                                <button type="submit" formaction="/buy" formmethod="POST"
                                                    class="btn btn-sm btn-info"><i
                                                        class="fas fa-shopping-cart"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single_courses">
                                <div class="thumb">
                                    <a href="#">
                                        <img src="img/courses/englishComWriting.jpg" height="200vh" alt="">
                                    </a>
                                </div>
                                <div class="courses_info">
                                    <span>English Comprehensive writing course</span>
                                    <h3><a href="#"> Learn English writing comprehensively </a></h3>
                                    <div class="star_prise d-flex justify-content-between">
                                        <div class="star">
                                            <i class="flaticon-mark-as-favorite-star"></i>
                                            <span>(4.5)</span>
                                        </div>
                                        <form>
                                            <input type="hidden" name="id" value="6" readonly>
                                            <div class="prise">
                                                <span class="active_prise">
                                                    83 ¥
                                                </span>
                                                <button type="submit" formaction="/buy" formmethod="POST"
                                                    class="btn btn-sm btn-info"><i
                                                        class="fas fa-shopping-cart"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Chinese Books -->
                <div class="tab-pane fade" id="chinese" role="tabpanel" aria-labelledby="contact-tab">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single_courses">
                                <div class="thumb">
                                    <a href="#">
                                        <img src="img/courses/chineseEle.jpg" height="200vh" alt="">
                                    </a>
                                </div>
                                <div class="courses_info">
                                    <span>Chinese Elementary Speaking course</span>
                                    <h3><a href="#"> Learn Chinese elementary speaking step by step <br>
                                            from beginner</a></h3>
                                    <div class="star_prise d-flex justify-content-between">
                                        <div class="star">
                                            <i class="flaticon-mark-as-favorite-star"></i>
                                            <span>(4.5)</span>
                                        </div>
                                        <form>
                                            <input type="hidden" name="id" value="7" readonly>
                                            <div class="prise">
                                                <span class="active_prise">
                                                    79 ¥
                                                </span>
                                                <button type="submit" formaction="/buy" formmethod="POST"
                                                    class="btn btn-sm btn-info"><i
                                                        class="fas fa-shopping-cart"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4">
                            <div class="single_courses">
                                <div class="thumb">
                                    <a href="#">
                                        <img src="img/courses/chineseEleReading.jpg" height="200vh" alt="">
                                    </a>
                                </div>
                                <div class="courses_info">
                                    <span>Chinese Elementary Reading course</span>
                                    <h3><a href="#">Learn how to read Chinese step by step</a></h3>
                                    <div class="star_prise d-flex justify-content-between">
                                        <div class="star">
                                            <i class="flaticon-mark-as-favorite-star"></i>
                                            <span>(4.5)</span>
                                        </div>
                                        <form>
                                            <input type="hidden" name="id" value="8" readonly>
                                            <div class="prise">
                                                <span class="active_prise">
                                                    66 ¥
                                                </span>
                                                <button type="submit" formaction="/buy" formmethod="POST"
                                                    class="btn btn-sm btn-info"><i
                                                        class="fas fa-shopping-cart"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4">
                            <div class="single_courses">
                                <div class="thumb">
                                    <a href="#">
                                        <img src="img/courses/chineseEleWriting.jpg" height="200vh" alt="">
                                    </a>
                                </div>
                                <div class="courses_info">
                                    <span>Chinese Elementary writing course</span>
                                    <h3><a href="#"> Learn Chinese characters and words writing <br>
                                            from scratch</a></h3>
                                    <div class="star_prise d-flex justify-content-between">
                                        <div class="star">
                                            <i class="flaticon-mark-as-favorite-star"></i>
                                            <span>(4.5)</span>
                                        </div>
                                        <form>
                                            <input type="hidden" name="id" value="9" readonly>
                                            <div class="prise">
                                                <span class="active_prise">
                                                    51 ¥
                                                </span>
                                                <button type="submit" formaction="/buy" formmethod="POST"
                                                    class="btn btn-sm btn-info"><i
                                                        class="fas fa-shopping-cart"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single_courses">
                                <div class="thumb">
                                    <a href="#">
                                        <img src="img/courses/chineseComSpeaking.jpg" height="200vh" alt="">
                                    </a>
                                </div>
                                <div class="courses_info">
                                    <span>Chinese Comprehensive Speaking course</span>
                                    <h3><a href="#">Learn Chinese speaking comprehensively <br>
                                            from beginner</a></h3>
                                    <div class="star_prise d-flex justify-content-between">
                                        <div class="star">
                                            <i class="flaticon-mark-as-favorite-star"></i>
                                            <span>(4.5)</span>
                                        </div>
                                        <form>
                                            <input type="hidden" name="id" value="10" readonly>
                                            <div class="prise">
                                                <span class="active_prise">
                                                    93 ¥
                                                </span>
                                                <button type="submit" formaction="/buy" formmethod="POST"
                                                    class="btn btn-sm btn-info"><i
                                                        class="fas fa-shopping-cart"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single_courses">
                                <div class="thumb">
                                    <img src="img/courses/chineseComReading.jpg" height="200vh" alt="">
                                </div>
                                <div class="courses_info">
                                    <span>Chinese Comprehensive Reading Course</span>
                                    <h3><a href="#">Learn Chinese comprehensively <br>
                                            and make work flow</a></h3>
                                    <div class="star_prise d-flex justify-content-between">
                                        <div class="star">
                                            <i class="flaticon-mark-as-favorite-star"></i>
                                            <span>(4.5)</span>
                                        </div>
                                        <form>
                                            <input type="hidden" name="id" value="11" readonly>
                                            <div class="prise">
                                                <span class="active_prise">
                                                    31 ¥
                                                </span>
                                                <button type="submit" formaction="/buy" formmethod="POST"
                                                    class="btn btn-sm btn-info"><i
                                                        class="fas fa-shopping-cart"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single_courses">
                                <div class="thumb">
                                    <a href="#">
                                        <img src="img/courses/chineseComWriting.jpg" height="200vh" alt="">
                                    </a>
                                </div>
                                <div class="courses_info">
                                    <span>Chinese Comprehensive writing course</span>
                                    <h3><a href="#"> Learn Chinese writing comprehensively <br>
                                        </a></h3>
                                    <div class="star_prise d-flex justify-content-between">
                                        <div class="star">
                                            <i class="flaticon-mark-as-favorite-star"></i>
                                            <span>(4.5)</span>
                                        </div>
                                        <form>
                                            <input type="hidden" name="id" value="12" readonly>
                                            <div class="prise">
                                                <span class="active_prise">
                                                    50 ¥
                                                </span>
                                                <button type="submit" formaction="/buy" formmethod="POST"
                                                    class="btn btn-sm btn-info"><i
                                                        class="fas fa-shopping-cart"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- french books -->
                <div class="tab-pane fade" id="french" role="tabpanel" aria-labelledby="design-tab">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6 ">
                            <div class="single_courses">
                                <div class="thumb">
                                    <a href="#">
                                        <img src="img/courses/frenchEle.jpg" height="200vh" alt="">
                                    </a>
                                </div>
                                <div class="courses_info">
                                    <span>French Elementary Speaking Course</span>
                                    <h3><a href="#">Learn French speaking step by step</a></h3>
                                    <div class="star_prise d-flex justify-content-between">
                                        <div class="star">
                                            <i class="flaticon-mark-as-favorite-star"></i>
                                            <span>(4.5)</span>
                                        </div>
                                        <form>
                                            <input type="hidden" name="id" value="13" readonly>
                                            <div class="prise">
                                                <span class="active_prise">
                                                    85 ¥
                                                </span>
                                                <button type="submit" formaction="/buy" formmethod="POST"
                                                    class="btn btn-sm btn-info"><i
                                                        class="fas fa-shopping-cart"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single_courses">
                                <div class="thumb">
                                    <a href="#">
                                        <img src="img/courses/frenchEleReading.png" height="200vh" alt="">
                                    </a>
                                </div>
                                <div class="courses_info">
                                    <span>French Elementary Reading course</span>
                                    <h3><a href="#">Learn French words and sentences reading from scratch</a></h3>
                                    <div class="star_prise d-flex justify-content-between">
                                        <div class="star">
                                            <i class="flaticon-mark-as-favorite-star"></i>
                                            <span>(4.5)</span>
                                        </div>
                                        <form>
                                            <input type="hidden" name="id" value="14" readonly>
                                            <div class="prise">
                                                <span class="active_prise">
                                                    73 ¥
                                                </span>
                                                <button type="submit" formaction="/buy" formmethod="POST"
                                                    class="btn btn-sm btn-info"><i
                                                        class="fas fa-shopping-cart"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single_courses">
                                <div class="thumb">
                                    <a href="#">
                                        <img src="img/courses/frnchEleWriting.jpeg" height="200vh" alt="">
                                    </a>
                                </div>
                                <div class="courses_info">
                                    <span>French Elementary Writing course</span>
                                    <h3><a href="#"> Learn French writing as a beginner </a></h3>
                                    <div class="star_prise d-flex justify-content-between">
                                        <div class="star">
                                            <i class="flaticon-mark-as-favorite-star"></i>
                                            <span>(4.5)</span>
                                        </div>
                                        <form>
                                            <input type="hidden" name="id" value="15" readonly>
                                            <div class="prise">
                                                <span class="active_prise">
                                                    25 ¥
                                                </span>
                                                <button type="submit" formaction="/buy" formmethod="POST"
                                                    class="btn btn-sm btn-info"><i
                                                        class="fas fa-shopping-cart"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single_courses">
                                <div class="thumb">
                                    <a href="#">
                                        <img src="img/courses/frenchComSpeaking.jpg" height="200vh" alt="">
                                    </a>
                                </div>
                                <div class="courses_info">
                                    <span>French Comprehensive Speaking course</span>
                                    <h3><a href="#"> Learn French comprehensively to speak </a></h3>
                                    <div class="star_prise d-flex justify-content-between">
                                        <div class="star">
                                            <i class="flaticon-mark-as-favorite-star"></i>
                                            <span>(4.5)</span>
                                        </div>
                                        <form>
                                            <input type="hidden" name="id" value="16" readonly>
                                            <div class="prise">
                                                <span class="active_prise">
                                                    75 ¥
                                                </span>
                                                <button type="submit" formaction="/buy" formmethod="POST"
                                                    class="btn btn-sm btn-info"><i
                                                        class="fas fa-shopping-cart"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single_courses">
                                <div class="thumb">
                                    <img src="img/courses/frenchComReading.jpg" height="200vh" alt="">
                                </div>
                                <div class="courses_info">
                                    <span>French Comprehensive Reading course</span>
                                    <h3><a href="#">Learn French reading comprehensively</a></h3>
                                    <div class="star_prise d-flex justify-content-between">
                                        <div class="star">
                                            <i class="flaticon-mark-as-favorite-star"></i>
                                            <span>(4.5)</span>
                                        </div>
                                        <form>
                                            <input type="hidden" name="id" value="17" readonly>
                                            <div class="prise">
                                                <span class="active_prise">
                                                    32 ¥
                                                </span>
                                                <button type="submit" formaction="/buy" formmethod="POST"
                                                    class="btn btn-sm btn-info"><i
                                                        class="fas fa-shopping-cart"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single_courses">
                                <div class="thumb">
                                    <a href="#">
                                        <img src="img/courses/frenchComWriting.jpg" height="200vh" alt="">
                                    </a>
                                </div>
                                <div class="courses_info">
                                    <span>French Comprehensive Writing Course</span>
                                    <h3><a href="#"> Learn French writing comprehensively and work flow. </a></h3>
                                    <div class="star_prise d-flex justify-content-between">
                                        <div class="star">
                                            <i class="flaticon-mark-as-favorite-star"></i>
                                            <span>(4.5)</span>
                                        </div>
                                        <form>
                                            <input type="hidden" name="id" value="18" readonly>
                                            <div class="prise">
                                                <span class="active_prise">
                                                    70 ¥
                                                </span>
                                                <button type="submit" formaction="/buy" formmethod="POST"
                                                    class="btn btn-sm btn-info"><i
                                                        class="fas fa-shopping-cart"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- spanish language -->
                <div class="tab-pane fade" id="spanish" role="tabpanel" aria-labelledby="Web-tab">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single_courses">
                                <div class="thumb">
                                    <a href="#">
                                        <img src="img/courses/spanishEle.jpg" height="200vh" alt="">
                                    </a>
                                </div>
                                <div class="courses_info">
                                    <span>Spanish Elementary Speaking course</span>
                                    <h3><a href="#">Learn Spanish elementary speaking step by step <br>
                                            from beginner</a></h3>
                                    <div class="star_prise d-flex justify-content-between">
                                        <div class="star">
                                            <i class="flaticon-mark-as-favorite-star"></i>
                                            <span>(4.5)</span>
                                        </div>
                                        <form>
                                            <input type="hidden" name="id" value="19" readonly>
                                            <div class="prise">
                                                <span class="active_prise">
                                                    97 ¥
                                                </span>
                                                <button type="submit" formaction="/buy" formmethod="POST"
                                                    class="btn btn-sm btn-info"><i
                                                        class="fas fa-shopping-cart"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single_courses">
                                <div class="thumb">
                                    <a href="#">
                                        <img src="img/courses/SpanishEleReading.jpg" height="200vh" alt="">
                                    </a>
                                </div>
                                <div class="courses_info">
                                    <span>Spanish Elementary Reading course</span>
                                    <h3><a href="#">Learn Elementary Spanish reading and make it work in life </a></h3>
                                    <div class="star_prise d-flex justify-content-between">
                                        <div class="star">
                                            <i class="flaticon-mark-as-favorite-star"></i>
                                            <span>(4.5)</span>
                                        </div>
                                        <form>
                                            <input type="hidden" name="id" value="20" readonly>
                                            <div class="prise">
                                                <span class="active_prise">
                                                    67 ¥
                                                </span>
                                                <button type="submit" formaction="/buy" formmethod="POST"
                                                    class="btn btn-sm btn-info"><i
                                                        class="fas fa-shopping-cart"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single_courses">
                                <div class="thumb">
                                    <a href="#">
                                        <img src="img/courses/spanishElewriting.jpg" height="200vh" alt="">
                                    </a>
                                </div>
                                <div class="courses_info">
                                    <span>Spanish Elementary Writing course</span>
                                    <h3><a href="#"> Learn Spanish writing step by step </a></h3>
                                    <div class="star_prise d-flex justify-content-between">
                                        <div class="star">
                                            <i class="flaticon-mark-as-favorite-star"></i>
                                            <span>(4.5)</span>
                                        </div>
                                        <form>
                                            <input type="hidden" name="id" value="21" readonly>
                                            <div class="prise">
                                                <span class="active_prise">
                                                    73 ¥
                                                </span>
                                                <button type="submit" formaction="/buy" formmethod="POST"
                                                    class="btn btn-sm btn-info"><i
                                                        class="fas fa-shopping-cart"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single_courses">
                                <div class="thumb">
                                    <a href="#">
                                        <img src="img/courses/spanishComSpeaking.jpg" height="200vh" alt="">
                                    </a>
                                </div>
                                <div class="courses_info">
                                    <span> Spanish Comprehensive speaking course </span>
                                    <h3><a href="#"> Learn Spanish speaking comprehensively and talk to the Spanish
                                            world </a></h3>
                                    <div class="star_prise d-flex justify-content-between">
                                        <div class="star">
                                            <i class="flaticon-mark-as-favorite-star"></i>
                                            <span>(4.5)</span>
                                        </div>
                                        <form>
                                            <input type="hidden" name="id" value="22" readonly>
                                            <div class="prise">
                                                <span class="active_prise">
                                                    90 ¥
                                                </span>
                                                <button type="submit" formaction="/buy" formmethod="POST"
                                                    class="btn btn-sm btn-info"><i
                                                        class="fas fa-shopping-cart"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single_courses">
                                <div class="thumb">
                                    <img src="img/courses/SpanishComReading.jpg" height="200vh" alt="">
                                </div>
                                <div class="courses_info">
                                    <span>Spanish Comprehensive Reading Course</span>
                                    <h3><a href="#"> Learn Spanish comprehensive reading </a></h3>
                                    <div class="star_prise d-flex justify-content-between">
                                        <div class="star">
                                            <i class="flaticon-mark-as-favorite-star"></i>
                                            <span>(4.5)</span>
                                        </div>
                                        <form>
                                            <input type="hidden" name="id" value="23" readonly>
                                            <div class="prise">
                                                <span class="active_prise">
                                                    82 ¥
                                                </span>
                                                <button type="submit" formaction="/buy" formmethod="POST"
                                                    class="btn btn-sm btn-info"><i
                                                        class="fas fa-shopping-cart"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single_courses">
                                <div class="thumb">
                                    <a href="#">
                                        <img src="img/courses/spanishComWriting.jpg" height="200vh" alt="">
                                    </a>
                                </div>
                                <div class="courses_info">
                                    <span>Spanish Comprehensive writing course</span>
                                    <h3><a href="#"> Learn Spansih writign comprehensively </a></h3>
                                    <div class="star_prise d-flex justify-content-between">
                                        <div class="star">
                                            <i class="flaticon-mark-as-favorite-star"></i>
                                            <span>(4.5)</span>
                                        </div>
                                        <form>
                                            <input type="hidden" name="id" value="24" readonly>
                                            <div class="prise">
                                                <span class="active_prise">
                                                    95 ¥
                                                </span>
                                                <button type="submit" formaction="/buy" formmethod="POST"
                                                    class="btn btn-sm btn-info"><i
                                                        class="fas fa-shopping-cart"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- swahili language -->
                <div class="tab-pane fade" id="swahili" role="tabpanel" aria-labelledby="Web-tab1">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4  col-md-6">
                            <div class="single_courses">
                                <div class="thumb">
                                    <a href="#">
                                        <img src="img/courses/swahiliEle.jpg" height="200vh" alt="">
                                    </a>
                                </div>
                                <div class="courses_info">
                                    <span>Swahili Elementary Speaking course</span>
                                    <h3><a href="#">Learn Swahili elementary speaking step by step</a></h3>
                                    <div class="star_prise d-flex justify-content-between">
                                        <div class="star">
                                            <i class="flaticon-mark-as-favorite-star"></i>
                                            <span>(4.5)</span>
                                        </div>
                                        <form>
                                            <input type="hidden" name="id" value="25" readonly>
                                            <div class="prise">
                                                <span class="active_prise">
                                                    88 ¥
                                                </span>
                                                <button type="submit" formaction="/buy" formmethod="POST"
                                                    class="btn btn-sm btn-info"><i
                                                        class="fas fa-shopping-cart"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single_courses">
                                <div class="thumb">
                                    <a href="#">
                                        <img src="img/courses/swahiliEleReading.jpg" height="200vh" alt="">
                                    </a>
                                </div>
                                <div class="courses_info">
                                    <span>Swahili Elementary Reading course</span>
                                    <h3><a href="#">Learn how to read Swahili language from scratch</a></h3>
                                    <div class="star_prise d-flex justify-content-between">
                                        <div class="star">
                                            <i class="flaticon-mark-as-favorite-star"></i>
                                            <span>(4.5)</span>
                                        </div>
                                        <form>
                                            <input type="hidden" name="id" value="26" readonly>
                                            <div class="prise">
                                                <span class="active_prise">
                                                    99 ¥
                                                </span>
                                                <button type="submit" formaction="/buy" formmethod="POST"
                                                    class="btn btn-sm btn-info"><i
                                                        class="fas fa-shopping-cart"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single_courses">
                                <div class="thumb">
                                    <a href="#">
                                        <img src="img/courses/swahiliEleWriting.png" height="200vh" alt="">
                                    </a>
                                </div>
                                <div class="courses_info">
                                    <span>Swahili Elementary Writing course</span>
                                    <h3><a href="#">Learn how to write Swahili language from beginner</a></h3>
                                    <div class="star_prise d-flex justify-content-between">
                                        <div class="star">
                                            <i class="flaticon-mark-as-favorite-star"></i>
                                            <span>(4.5)</span>
                                        </div>
                                        <form>
                                            <input type="hidden" name="id" value="27" readonly>
                                            <div class="prise">
                                                <span class="active_prise">
                                                    67 ¥
                                                </span>
                                                <button type="submit" formaction="/buy" formmethod="POST"
                                                    class="btn btn-sm btn-info"><i
                                                        class="fas fa-shopping-cart"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single_courses">
                                <div class="thumb">
                                    <a href="#">
                                        <img src="img/courses/swahiiliComSpeaking.jpg" alt="">
                                    </a>
                                </div>
                                <div class="courses_info">
                                    <span>Swahili Comprehensive Speaking course</span>
                                    <h3><a href="#"> Learn Swahili comprehensive speaking </a></h3>
                                    <div class="star_prise d-flex justify-content-between">
                                        <div class="star">
                                            <i class="flaticon-mark-as-favorite-star"></i>
                                            <span>(4.5)</span>
                                        </div>
                                        <form>
                                            <input type="hidden" name="id" value="29" readonly>
                                            <div class="prise">
                                                <span class="active_prise">
                                                    33 ¥
                                                </span>
                                                <button type="submit" formaction="/buy" formmethod="POST"
                                                    class="btn btn-sm btn-info"><i
                                                        class="fas fa-shopping-cart"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single_courses">
                                <div class="thumb">
                                    <img src="img/courses/swahiliComReading.jpg" height="200vh" alt="">
                                </div>
                                <div class="courses_info">
                                    <span>Swahili Comprehensive Reading course</span>
                                    <h3><a href="#">Learn how to read Swahili language comprehensively</a></h3>
                                    <div class="star_prise d-flex justify-content-between">
                                        <div class="star">
                                            <i class="flaticon-mark-as-favorite-star"></i>
                                            <span>(4.5)</span>
                                        </div>
                                        <form>
                                            <input type="hidden" name="id" value="30" readonly>
                                            <div class="prise">
                                                <span class="active_prise">
                                                    25 ¥
                                                </span>
                                                <button type="submit" formaction="/buy" formmethod="POST"
                                                    class="btn btn-sm btn-info"><i
                                                        class="fas fa-shopping-cart"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single_courses">
                                <div class="thumb">
                                    <a href="#">
                                        <img src="img/courses/swahiliComWriting.gif" height="200vh" alt="">
                                    </a>
                                </div>
                                <div class="courses_info">
                                    <span>Swahili Comprehesive Writing course</span>
                                    <h3><a href="#">Learn how to write Swahili language comprehensively</a></h3>
                                    <div class="star_prise d-flex justify-content-between">
                                        <div class="star">
                                            <i class="flaticon-mark-as-favorite-star"></i>
                                            <span>(4.5)</span>
                                        </div>
                                        <form>
                                            <input type="hidden" name="id" value="28" readonly>
                                            <div class="prise">
                                                <span class="active_prise">
                                                    39 ¥
                                                </span>
                                                <button type="submit" formaction="/buy" formmethod="POST"
                                                    class="btn btn-sm btn-info"><i
                                                        class="fas fa-shopping-cart"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- popular_courses_end-->


<!-- testimonial_area_start -->
<div class="testimonial_area testimonial_bg_1 overlay">
    <div class="testmonial_active owl-carousel">
        <div class="single_testmoial">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="testmonial_text text-center">
                            <div class="author_img">
                                <img src="img/testmonial/author_img.png" alt="">
                            </div>
                            <p>
                                "Working in conjunction with humanitarian aid <br> agencies we have supported
                                programmes to <br>
                                alleviate.
                                human suffering.

                            </p>
                            <span>- Jquileen</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_testmoial">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="testmonial_text text-center">
                            <div class="author_img">
                                <img src="img/testmonial/author_img.png" alt="">
                            </div>
                            <p>
                                "Working in conjunction with humanitarian aid <br> agencies we have supported
                                programmes to <br>
                                alleviate.
                                human suffering.

                            </p>
                            <span>- Jquileen</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- testimonial_area_end -->

<!-- our_courses_start -->
<div class="our_courses">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-100">
                    <h3>Our Course Speciality</h3>
                    <p>Your domain control panel is designed for ease-of-use and <br>
                        allows for all aspects of your domains.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-md-6 col-lg-6">
                <div class="single_course text-center">
                    <div class="icon">
                        <i class="flaticon-art-and-design"></i>
                    </div>
                    <h3>Premium Quality</h3>
                    <p>
                        Your domain control panel is designed for ease-of-use <br> and <br>
                        allows for all aspects of
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-lg-6">
                <div class="single_course text-center">
                    <div class="icon blue">
                        <i class="flaticon-business-and-finance"></i>
                    </div>
                    <h3>Premium Quality</h3>
                    <p>
                        Your domain control panel is designed for ease-of-use <br> and <br>
                        allows for all aspects of
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-lg-6">
                <div class="single_course text-center">
                    <div class="icon">
                        <i class="flaticon-premium"></i>
                    </div>
                    <h3>Premium Quality</h3>
                    <p>
                        Your domain control panel is designed for ease-of-use <br> and <br>
                        allows for all aspects of
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-lg-6">
                <div class="single_course text-center">
                    <div class="icon gradient">
                        <i class="flaticon-crown"></i>
                    </div>
                    <h3>Premium Quality</h3>
                    <p>
                        Your domain control panel is designed for ease-of-use <br> and <br>
                        allows for all aspects of
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- our_courses_end -->

<!-- subscribe_newsletter_Start -->
<div class="subscribe_newsletter">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="newsletter_text">
                    <h3>Subscribe Newsletter</h3>
                    <p>Your domain control panel is designed for ease-of-use and allows for all aspects of your</p>
                </div>
            </div>
            <div class="col-xl-5 offset-xl-1 col-lg-6">
                <div class="newsletter_form">
                    <h4>Your domain control panel is</h4>
                    <form action="#" class="newsletter_form">
                        <input type="text" placeholder="Enter your mail">
                        <button type="submit">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- subscribe_newsletter_end -->

<!-- our_latest_blog_start -->
<div class="our_latest_blog">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-100">
                    <h3>Our Latest Blog</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-4">
                <div class="single_latest_blog">
                    <div class="thumb">
                        <img src="img/latest_blog/1.png" alt="">
                    </div>
                    <div class="content_blog">
                        <div class="date">
                            <p>12 Jun, 2019 in <a href="#">Design tips</a></p>
                        </div>
                        <div class="blog_meta">
                            <h3><a href="#">Commitment to dedicated Support</a></h3>
                        </div>
                        <p class="blog_text">
                            Firmament morning sixth subdue darkness creeping gathered divide.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_latest_blog">
                    <div class="thumb">
                        <img src="img/latest_blog/2.png" alt="">
                    </div>
                    <div class="content_blog">
                        <div class="date">
                            <p>12 Jun, 2019 in <a href="#">Design tips</a></p>
                        </div>
                        <div class="blog_meta">
                            <h3><a href="#">Commitment to dedicated Support</a></h3>
                        </div>
                        <p class="blog_text">
                            Firmament morning sixth subdue darkness creeping gathered divide.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_latest_blog">
                    <div class="thumb">
                        <img src="img/latest_blog/3.png" alt="">
                    </div>
                    <div class="content_blog">
                        <div class="date">
                            <p>12 Jun, 2019 in <a href="#">Design tips</a></p>
                        </div>
                        <div class="blog_meta">
                            <h3><a href="#">Commitment to dedicated Support</a></h3>
                        </div>
                        <p class="blog_text">
                            Firmament morning sixth subdue darkness creeping gathered divide.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- our_latest_blog_end -->


<%- include("./partials/footer") -%>