<%- include("./partials/header") -%>

<div class="bradcam_area breadcam_bg overlay2">
    <!-- form login ---->
    
    <form action="/users/login" method="POST" class="white-popup-block">
    <%- include("./partials/flash-msg") -%>
        <div class="popup_box ">
            <div class="popup_inner">
                <div class="logo text-center">
                    <a href="/">
                        <i class="fas fa-language icon"></i>
                        <div class="navbar-brand" style="font-family: 'Bree Serif', serif;margin:0%;padding: 0%">
                            POLYGLOTIANS</div>
                    </a>
                </div>
                <h3>Sign in</h3>
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <input type="email" name="email" placeholder="Enter email" required>
                    </div>
                    <div class="col-xl-12 col-md-12">
                        <input type="password" name="password" placeholder="Password" required>
                    </div>
                    <div class="col-xl-12">
                        <button type="submit" class="btn btn-outline-info">Sign in</button>
                    </div>
                </div>
                <p class="doen_have_acc">Don’t have an account? <a class="btn btn-sm btn-outline-primary"
                        href="/users/register">Sign Up</a>
                </p>
            </div>
        </div>
    </form>
    <!-- form itself end -->
</div>

<%- include("./partials/footer") -%>
